
*.v2
*.v2
*.vsidx
*.lock
*.1
*.vsidx
*.1
*.json
*.vsidx
*.vsidx
*.v2
IMS/.vs/IMS/DesignTimeBuild/.dtbcache.v2
IMS/.vs/IMS/FileContentIndex/87a33b28-f120-4f43-a11f-60da8418d0e1.vsidx
IMS/.vs/IMS/FileContentIndex/98eb000e-43be-4625-b5fc-f8d19d392f70.vsidx
IMS/.vs/IMS/FileContentIndex/b69a7e58-aa7d-42ac-99a5-7ab13fc15311.vsidx
IMS/.vs/IMS/FileContentIndex/read.lock
IMS/.vs/IMS/v17/.futdcache.v2
IMS/.vs/IMS/v17/.suo
IMS/.vs/ProjectEvaluation/ims.metadata.v5.1
IMS/.vs/ProjectEvaluation/ims.metadata.v7.bin
IMS/.vs/ProjectEvaluation/ims.projects.v5.1
IMS/.vs/ProjectEvaluation/ims.projects.v7.bin
